@font-face {
  font-family: "GT Pressura Mono";
  src: url("/fonts/gt-pressura-mono-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Pressura Mono";
  src: url("/fonts/gt-pressura-mono-regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Pressura Mono";
  src: url("/fonts/gt-pressura-mono-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Pressura Mono";
  src: url("/fonts/gt-pressura-mono-bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Pressura Mono";
  src: url("/fonts/gt-pressura-mono-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Pressura Mono";
  src: url("/fonts/gt-pressura-mono-light-italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
