@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-desktop: 768px;

  --font-sans: "JetBrains Mono", "Courier New", monospace;

  --color-light: var(--color-stone-200);
  --color-dark: var(--color-stone-900);
  --color-selection: var(--color-yellow-300);

  --text-sm : 0.5rem;
  --text-base: 1rem;
  --text-xl: 1.375rem;
  --text-3xl: 2.25rem;
  --text-4xl: 2.5rem;

  --radius-sm: 1.5vh;

  --area-logo: logo;
  --area-nav: nav;
  --area-main: main;
  --area-hero: hero;
  --area-footer: footer;  
  --area-ig: ig;
  --area-contact: contact;

  --ease-standard: cubic-bezier(0.2, 0, 0, 1.0);
  --duration-short: 0.2s;
}

@layer base {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin-bottom: 1.5rem;
  }
  ::selection {
    background-color: var(--color-selection);
  }
}

@utility visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: ;hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap,
}

@utility no-scrollbars {
  scrollbar-width: none
}

@utility grid-areas-desktop {
  grid-template-areas:
    "logo nav nav nav nav nav nav hero hero hero hero hero hero hero"
    "logo main main main main main main hero hero hero hero hero hero hero"
    "logo footer footer footer footer footer footer hero hero hero hero hero hero hero";
}
@utility grid-areas-desktop-work {
  grid-template-areas:
    "logo nav nav nav nav nav nav nav nav nav nav nav nav nav"
    "logo main main main main main main main main main main main main main"
    "logo footer footer footer footer footer footer footer footer footer footer footer footer footer";
}
@utility grid-areas-mobile {
  grid-template-areas:
    "logo logo logo logo logo"
    "nav nav nav nav nav"
    "hero hero hero hero hero"
    "main main main main main"
    "footer footer footer footer footer";
}
@utility grid-areas-mobile-work {
  grid-template-areas:
    "logo logo logo logo logo"
    "nav nav nav nav nav"
    "main main main main main"
    "footer footer footer footer footer";
}

@utility grid-areas-mobile-footer {
  grid-template-areas:
    "contact logo"
    "ig logo";
}
@utility no-grid-template {
  grid-template-areas: none;
}

@utility grid-rows-desktop {
  grid-template-rows: 2rem 1fr 3rem;
}
@utility grid-rows-mobile {
  grid-template-rows: repeat(5, auto);
}

@utility grid-in-* {
  grid-area: --value(--area-*);
}


