---
import Layout from "@layouts/Layout.astro";
import NotFoundScene from "../components/NotFoundScene";
---

<Layout hideGrid={true} pageTitle="404">
  <div
    class="h-[calc(100vh-48px)] flex flex-col desktop:flex-row gap-12 justify-center items-center"
  >
    <div class="w-[400px] h-[400px]">
      <NotFoundScene client:load />
    </div>
    <div>
      <h1 class="text-4xl mb-4 font-bold">404</h1>
      <p>
        Hmm... I couldn't find <code id="pathname" class="bg-yellow-100"
          >/404</code
        >.
      </p>
      <p class="mb-0">Head back <a href="/">home?</a></p>
    </div>
  </div>
</Layout>
