---
import PageLayout from "@layouts/PageLayout.astro";
import HeroImage from "@components/HeroImage.astro";

import { Content as BioContent, frontmatter } from "@data/bio.md";

const byline = frontmatter.byline;
---

<PageLayout pageTitle="About">
  <section slot="content">
    <h1 class="text-4xl my-5 leading-tight uppercase">{byline}</h1>
    <BioContent />
  </section>

  <HeroImage
    slot="hero"
    imagePath="/src/assets/me.webp"
    altText="Headshot of Justin"
  />
</PageLayout>
