---
import { getEntry, render } from "astro:content";

import PageLayout from "@layouts/PageLayout.astro";
import HeroImage from "@components/HeroImage.astro";

const bio = await getEntry("text", "bio");

if (!bio) {
  throw new Error("Bio text snippet not found");
}

const { Content: Bio } = await render(bio);

const { byline } = bio.data;
---

<PageLayout pageTitle="About">
  <section slot="content" class="grid-in-main">
    <h1 class="text-4xl mobile:text-3xl mb-5 leading-tight uppercase">
      {byline}
    </h1>
    <Bio />
  </section>

  <HeroImage
    slot="hero"
    imagePath="/src/assets/me.webp"
    altText="Headshot of Justin"
    class="grid-in-hero"
  />
</PageLayout>
