---
import PageLayout from "@layouts/PageLayout.astro";
import HeroImage from "@components/HeroImage.astro";
---

<PageLayout>
  <section slot="content" class="grid-in-main content-end">
    <h1
      class="text-[9vw] desktop:text-[3.7vw] leading-[1.1] font-light uppercase"
    >
      ~~> Some really nice things for your home ¤ Made upright with care by
      Justin Belcher in <i class="tracking-tighter">San Francisco</i>.
    </h1>
  </section>

  <HeroImage
    slot="hero"
    imagePath="/src/assets/work/coffeetable-intro.jpg"
    altText="Front view of a walnut coffee table"
    class="hidden desktop:block grid-in-hero"
  />
  <HeroImage
    slot="hero"
    imagePath="/src/assets/work/coffeetable-1.jpg"
    altText="Front view of a walnut coffee table"
    class="desktop:hidden grid-in-hero"
  />
</PageLayout>
