---
import { Image } from "astro:assets";
import logomark from "../assets/logomark.svg";

import { SOCIAL_LINKS } from "src/const";

const { instagram, email } = SOCIAL_LINKS;
const username = instagram.split("/").pop();
---

<footer class="grid grid-cols-6 gap-6 py-5">
  <section class="col-span-2">
    <h3>contact</h3>
    <address class="not-italic">
      <a href=`mailto:${email}`>{email}</a>
    </address>
  </section>
  <section class="col-span-2">
    <h3>instagram</h3>
    <a href={instagram}
      >@{username}<span class="visually-hidden">(Instagram Profile)</span></a
    >
  </section>
</footer>
