---
import { Image } from "astro:assets";
import { getImages } from "@scripts/utils";

interface Props {
  imagePath: string;
  altText: string;
  class?: string;
}

const { imagePath, altText, class: className } = Astro.props;
const images = getImages();

if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist"`);
---

<section class={className}>
  <Image
    class="rounded object-cover object-center h-[calc(100vh-48px)]"
    src={images[imagePath]()}
    alt={altText}
    loading="eager"
  />
</section>
