---
interface Props {
  label: string;
  value: string | number;
}

const { label, value } = Astro.props;
---

<article
  class="grid min-h-8 grid-cols-6 items-center gap-6 border-b border-stone-300"
>
  <h2 class="col-span-2 text-stone-600">{label}</h2>
  <p class="col-span-4 mb-0">{value}</p>
</article>
