---
import { Image } from "astro:assets";
import logoVertical from "../assets/logo-vertical.svg";
import logoHorizontal from "../assets/logo.svg";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<header class={className}>
  <a href="/">
    <Image
      src={logoVertical}
      width={56}
      height={274}
      loading="eager"
      alt="On end studio logo"
      class="hidden desktop:block"
    />
    <Image
      src={logoHorizontal}
      width={274}
      height={56}
      loading="eager"
      alt="On end studio logo"
      class="desktop:hidden w-full"
    />
  </a>
</header>
