---
import { twMerge } from "tailwind-merge";
import { Icon } from "astro-icon/components";

import { SOCIAL_LINKS, NAV_LINKS } from "src/constants";
import type { NavLink } from "@types";

interface Props {
  class?: string;
  fullWidth?: boolean;
}

const { instagram } = SOCIAL_LINKS;

const linkBaseClasses =
  "relative text-xl no-underline w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-black after:w-full";
const linkActiveClasses = linkBaseClasses;
const linkInactiveClasses = `${linkBaseClasses} after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-175 after:origin-center`;

const { fullWidth = false, class: className } = Astro.props;
---

<nav class={twMerge("text-2xl uppercase grid grid-cols-subgrid", className)}>
  {
    NAV_LINKS.map((link: NavLink) => (
      <a
        href={link.href}
        class={
          Astro.url.pathname.startsWith(link.href)
            ? linkActiveClasses
            : linkInactiveClasses
        }
      >
        {link.label}
      </a>
    ))
  }
  <a href={instagram} class="col-start-[-1] flex justify-end" ,
    ><Icon name="instagram" size="24" title="Instagram" /></a
  >
</nav>
