---
import InfoLine from "@components/InfoLine.astro";

interface Props {
  year: number;
  materials: string;
  finish?: string;
}
const { year, materials, finish } = Astro.props;
---

<section class="border-t border-stone-300">
  <InfoLine label="Year" value={year} />
  <InfoLine label="Materials" value={materials} />
  {finish && <InfoLine label="Finish" value={finish} />}
</section>
