---
import ProjectCard from "@components/ProjectCard.astro";
import Layout from "@layouts/GridLayout.astro";

import { getOrderedProjects } from "@scripts/utils";

const projects = await getOrderedProjects();
---

<Layout class="pb-6">
  <section class="grid grid-in-main grid-cols-1 desktop:grid-cols-12 gap-6">
    {
      projects.map((project: any) => (
        <ProjectCard
          slug={project.id}
          name={project.data.name}
          year={project.data.year}
          imagePath={project.data.cover}
          class="col-span-3"
        />
      ))
    }
  </section>
</Layout>
