---
import ProjectCard from "@components/ProjectCard.astro";
import Layout from "@layouts/GridLayout.astro";

import { getOrderedProjects } from "@scripts/utils";

const projects = await getOrderedProjects();
---

<Layout>
  <section class="grid grid-cols-12 gap-6 my-8">
    {
      projects.map((project: any) => (
        <ProjectCard
          slug={project.id}
          name={project.data.name}
          year={project.data.year}
          image={project.data.cover}
          class="col-span-3"
        />
      ))
    }
  </section>
</Layout>
