---
interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;

import Logo from "@components/Logo.astro";
import Navigation from "@components/Navigation.astro";
import Footer from "@components/Footer.astro";

import Layout from "@layouts/Layout.astro";
---

<Layout {pageTitle}>
  <Logo />
  <section class="flex flex-col col-span-13">
    <Navigation fullWidth={true} />
    <slot />
    <Footer fullWidth={true} showMark={true} />
  </section>
</Layout>
